.card-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px; /* Reduce the gap for better mobile fit */
  padding: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.card-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.flip-card {
  width: 300px;
  align-items: center;
  justify-content: center;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}



.flip-card-inner {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border-radius: 12px;
  overflow: hidden;
}

.flip-card-front {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.flip-card-back {
  background-color: #f4f4f4;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.read-more-btn {
  background-color: #3f87f5;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-end;
}

body {
  overflow-x: hidden;
}
