*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  background-color: #ffffff;
  padding: 1.25rem 1.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-header h2 {
  margin: 0;
}

.card-header .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s ease;
}

.card-header .btn-primary:hover {
  background-color: #0056b3;
}

.card-body {
  padding: 0rem;
  background-color: #ffffff;
  color: #333;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row {
  margin-bottom: 20px;
}

.col-md-6,
.col-md-4 {
  padding: 0 15px;
}

.card-body > div {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card-header h5 {
  font-size: 1.25rem;
  color: #007bff;
  font-weight: 500;
}

.card-body .card .card-body {
  background-color: #fff;
  border-radius: 10px;
}

.card-body .card .card-body h5 {
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-body .card .card-body p {
  color: #007bff;
  font-size: 1rem;
  font-weight: 400;
}

.container-fluid {
  border-radius: 20px;
  padding: 0;
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.container-fluid .row {
  padding: 20px;
}

.white-box {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: none;
}
