.market-loading-text {
  width: 100%;
  height: 100vh; /* full screen height (vh / vw)*/
  display: flex;
  align-items: center;     
  justify-content: center; 
}

.market-root-container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: auto;
  box-sizing: border-box;
  gap: 18px;
  justify-content: center;
  padding: 2rem;
}

.market-dashboard {
  display: flex;
  width: 100%;
  height: 100%;
}

.market-dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 20px;
}

/* Stocks Scroll */
.ticker-container {
  overflow: hidden;
  color: 364049;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #D4D8DB;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ticker-track {
  display: flex;
  width: 100%;
  animation: scrollTicker 50s linear infinite;
}

.ticker-item {
  display: flex; /* This ensures the elements inside each ticker-item are aligned in a row */
  align-items: center; /* Vertically centers the items */
  margin-right: 50px; /* Adds space between the items */
  white-space: nowrap;
}

.ticker-symbol {
  display: flex; /* This will arrange the child elements in a row */
  font-weight: bold;
  font-size: 14px;
  align-items: center; /* Vertically centers the company name and symbol */
  font-size: 20px;
}

.company-name,
.symbol {
  margin-right: 5px; /* Add space between company name and symbol */
}

.symbol {
  margin-left: 5px; /* Add space after the symbol if needed */
}


.ticker-price {
  font-size: 20px;
  display: flex;
  align-items: center; /* Aligns price and change in a row */
}

.ticker-change {
  font-weight: bold;
  margin-left: 5px; /* Adds space between the price and the change */
}

.ticker-change.positive {
  color: green; /* Green color for price increase */
}

.ticker-change.negative {
  color: red; /* Red color for price decrease */
}

@keyframes scrollTicker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

h1 {
  color: #0C75D6;
  margin: 0;
  margin-bottom: 0;
}

.market-dashboard-chart-container {
  padding-bottom: 10px;
  height: 100%;
}

.sparkline-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.display-text {
  color: black;
  font-size: 20px;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.market-container {
  display: flex;
  width: fit-content;
  height: auto;
  box-sizing: border-box;
  gap: 18px;
  border-radius: 6px;
  justify-content: center;
}

.market-overall-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Main Container */
.market-main-container {
  display: flex;
  max-width: 1100px;
  width: auto;
  height: auto;
  border-radius: 10px 0px 0px 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.market-main-image {
  max-width: 500px;
  height: 100%; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.market-main-texts {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;               /* Make it fill available space */
  box-sizing: border-box;    /* So padding doesn't exceed container width */
  overflow-wrap: break-word; /* Ensures long words wrap */
  word-wrap: break-word;     /* Fallback for older browsers */
}

.market-text-small {
  display: flex;             /* Enable flex layout */
  align-items: center;       /* Vertically center icon and text */
  gap: 2px;                  /* Space between icon and text */
  width: fit-content;        /* Shrink to fit content */
  color: #0C75D6;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;         /* 181.818% */
  letter-spacing: -0.22px;
  margin: 0;
}

.market-main-text-large {
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
  color: black;
  margin: 0;
}

.market-main-text-medium {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  color: #808080;
  margin: 0;
}

/* Child Container */
.market-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 355.881px));
  column-gap: 18px; /* horizontal gap */
  row-gap: 25px;    /* vertical gap */
  justify-content: start;
}

.market-mini-container {
  max-width: 355.881px;
  height: auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  row-gap: 18;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.market-image {
  width: 100%;
  height: 131px;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
}

.market-text {
  flex-shrink: 0;
  color: #1B252F;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100%;
  line-height: 25px;
}

/* Side Container */
.market-overall-side-container {
  display: flex;
  max-width: auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column; /* stack children vertically */
  align-items: flex-start; /* align items to the start horizontally */
  justify-content: flex-start; /* align items to the top vertically */
}

.market-side-container {
  display: flex;
  flex-direction: column;
  max-width: auto;
  max-height: auto;
  border-radius: 0px 10px 10px 0px;
  background: #FFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 18px;
}

.market-title-text {
  width: 100%;
  height: 38px;
  color: #0C75D6;
  text-align: start;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.48px;
  margin: 0;
  /* text-decoration: underline; */
}

hr {
  border: none;
  height: 2px;
  background-color: #0C75D6;
  margin: 0;
  margin-bottom: 10px;
}

.hr-2 {
  border: none;
  height: 2px;
  background-color: #0C75D6;
  margin: 0;
}

.market-side-text-container {
  display: flex;
  max-width: 100%;
  height: auto;
  column-gap: 10;
  justify-content: space-between;
  margin-bottom: 20px;
}

.market-side-box-text {
  display: flex;
  width: 55px;
  height: 19px;
  flex-shrink: 0;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  background-color: #FFC300;
  margin: 0;
}

.market-side-text {
  display: flex;
  width: 220px;
  height: auto;
  flex-shrink: 0;
  color: #364049;
  font-size: 16px;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-left: 20px;
  margin-right: 25px;
}

/* For mobile compatibility */
@media (max-width: 768px) {
  .market-container {
    flex-direction: column;
    margin: 70px 10px;
    padding: 0;
    flex-wrap: wrap;
  }

  .market-main-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .market-main-image {
    max-width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .market-text-small,
  .market-main-text-large,
  .market-main-text-medium {
    text-align: left;
  }

  .market-grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .market-mini-container {
    max-width: 100%;
  }

  .market-overall-container,
  .market-overall-side-container {
    flex-direction: column;
    max-width: 100%;
  }

  .market-side-container {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
  }

  .market-side-text-container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  .market-side-box-text {
    width: auto;
    padding: 5px 10px;
  }
}



