/* .button-container-insights {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 40px auto 40px auto;
    align-items: start;
    justify-content: center;
} */

/* Shared style */
/* .button {
    display: flex;
    flex-direction: row;
    width: 195px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid #0C75D6;
    background: #FFF;
    transition: background-color 0.2s, transform 0.1s;
}

.button.left {
    border-radius: 6px 0 0 6px;
}

.button.middle {
    border-radius: 0;
}

.button.right {
    border-radius: 0 6px 6px 0;
}

.button:hover,
.button.selected {
    background-color: #0C75D6;
    cursor: pointer;
}

.button:active {
    background-color: #095aa3;
    transform: scale(0.98);
}

.button-text {
    color: #0C75D6;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.button:hover .button-text,
.button.selected .button-text {
    color: #FFF;
} */

.insight-tool-wrapper {
    width: 100%;
    max-width: 2000px;
    padding: 15px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
}

/* For mobile compatibility */
@media (max-width: 1091px) {
    /* .button-container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        flex-wrap: wrap;
        margin: 70px 20px 20px 20px;
        align-items: center;
        justify-content: center;
    }

    .button {
        flex: 1;
        max-width: 100px; 
        height:40px;
    }

    .button-text {
        font-size: 15px;
    } */

    .insight-tool-wrapper {
        max-width: 100%;
        padding: 15px;
    }
}

